In [1]:
import json
import lightgbm as lgb
import numpy as np
import pandas as pd

from glob import glob
from tqdm import tqdm, tqdm_notebook

from utils import FEATS_EXCLUDED, COLS_TEST1, COLS_TEST2

pd.set_option('display.max_columns', 100)

%matplotlib inline

In [88]:
df = pd.read_csv('../input/calendar.csv')

In [89]:
# to datetime
df['date'] = pd.to_datetime(df['date'])
df

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,2016-05-21,11617,Saturday,1,5,2016,d_1940,NaN,NaN,NaN,NaN,0,0,0
1940,2016-05-22,11617,Sunday,2,5,2016,d_1941,NaN,NaN,NaN,NaN,0,0,0
1941,2016-05-23,11617,Monday,3,5,2016,d_1942,NaN,NaN,NaN,NaN,0,0,0
1942,2016-05-24,11617,Tuesday,4,5,2016,d_1943,NaN,NaN,NaN,NaN,0,0,0
1943,2016-05-25,11617,Wednesday,5,5,2016,d_1944,NaN,NaN,NaN,NaN,0,0,0
1944,2016-05-26,11617,Thursday,6,5,2016,d_1945,NaN,NaN,NaN,NaN,0,0,0
1945,2016-05-27,11617,Friday,7,5,2016,d_1946,NaN,NaN,NaN,NaN,0,0,0
1946,2016-05-28,11618,Saturday,1,5,2016,d_1947,NaN,NaN,NaN,NaN,0,0,0
1947,2016-05-29,11618,Sunday,2,5,2016,d_1948,NaN,NaN,NaN,NaN,0,0,0
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,NaN,0,0,0
1949,2016-05-31,11618,Tuesday,4,5,2016,d_1950,NaN,NaN,NaN,NaN,0,0,0
1950,2016-06-01,11618,Wednesday,5,6,2016,d_1951,NaN,NaN,NaN,NaN,1,1,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1
1952,2016-06-03,11618,Friday,7,6,2016,d_1953,NaN,NaN,NaN,NaN,1,1,1
1953,2016-06-04,11619,Saturday,1,6,2016,d_1954,NaN,NaN,NaN,NaN,1,0,0
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,NaN,1,1,1
1955,2016-06-06,11619,Monday,3,6,2016,d_1956,NaN,NaN,NaN,NaN,1,1,1
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,NaN,1,0,1
1958,2016-06-09,11619,Thursday,6,6,2016,d_1959,NaN,NaN,NaN,NaN,1,1,1
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,NaN,1,0,0
1960,2016-06-11,11620,Saturday,1,6,2016,d_1961,NaN,NaN,NaN,NaN,0,1,1
1961,2016-06-12,11620,Sunday,2,6,2016,d_1962,NaN,NaN,NaN,NaN,0,1,1
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,NaN,0,1,0
1963,2016-06-14,11620,Tuesday,4,6,2016,d_1964,NaN,NaN,NaN,NaN,0,0,1
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [5]:
df.event_name_2.value_counts()

Father's day      2
Cinco De Mayo     1
OrthodoxEaster    1
Easter            1
Name: event_name_2, dtype: int64

In [135]:
df.event_name_1.value_counts()

NBAFinalsStart         6
SuperBowl              6
LentWeek2              6
Mother's day           6
PresidentsDay          6
Pesach End             6
LentStart              6
Pesach Start           6
Purim End              6
ValentinesDay          6
NBAFinalsEnd           6
Ramadan starts         6
StPatricksDay          6
MemorialDay            6
EidAlAdha              5
VeteransDay            5
IndependenceDay        5
Chanukah End           5
Christmas              5
NewYear                5
MartinLutherKingDay    5
Eid al-Fitr            5
Ramadan ends           5
Halloween              5
LaborDay               5
OrthodoxChristmas      5
ColumbusDay            5
OrthodoxEaster         5
Cinco De Mayo          5
Thanksgiving           5
Easter                 5
Father's day           4
Name: event_name_1, dtype: int64

In [111]:
# add ramadan end dates
ramadan_end_dates = ['2011-8-29','2012-8-18','2013-8-7','2014-7-27','2015-7-16','2016-7-5']
for d in ramadan_end_dates:
    df.loc[df['date']==d,'event_name_1'] = 'Ramadan ends'

In [117]:
# add Pesach start dates
pesach_start_dates = ['2011-4-18','2012-4-6','2013-3-25','2014-4-14','2015-4-3','2016-4-22']
for d in pesach_start_dates:
    df.loc[df['date']==d,'event_name_1'] = 'Pesach Start'

In [146]:
# add purim start dates
purim_start_dates = ['2011-3-19','2012-3-7','2013-2-23','2014-3-15','2015-3-4','2016-3-23']
for d in purim_start_dates:
    df.loc[df['date']==d,'event_name_1'] = 'Purim Start'

In [154]:
# add chanukah start dates
chanukah_start_dates = ['2011-12-21','2012-12-9','2013-11-28','2014-12-17','2015-12-7','2016-12-25']
for d in chanukah_start_dates:
    df.loc[df['date']==d,'event_name_1'] = 'Chanukah Start'

In [104]:
df['date'] = pd.to_datetime(df['date'])

In [155]:
is_nba_final = []
is_lent = []
is_ramadan = []
is_pesach = []
is_purim = []
is_chanukah = []

tmp_nba = 0
tmp_lent = 0
tmp_ramadan = 0
tmp_pesach = 0
tmp_purim = 0
tmp_chanukah = 0

for e in df['event_name_1']:
    if e == 'NBAFinalsStart':
        tmp_nba = 1
    is_nba_final.append(tmp_nba)
    if e == 'NBAFinalsEnd':
        tmp_nba = 0
        
    if e == 'LentStart':
        tmp_lent = 1
    is_lent.append(tmp_lent)
    if e == 'Easter':
        tmp_lent = 0

    if e == 'Ramadan starts':
        tmp_ramadan = 1
    is_ramadan.append(tmp_ramadan)
    if e == 'Ramadan ends':
        tmp_ramadan = 0

    if e == 'Pesach Start':
        tmp_pesach = 1
    is_pesach.append(tmp_pesach)
    if e == 'Pesach End':
        tmp_pesach = 0

    if e == 'Purim Start':
        tmp_purim = 1
    is_purim.append(tmp_purim)
    if e == 'Purim End':
        tmp_purim = 0
        
    if e == 'Chanukah Start':
        tmp_chanukah = 1
    is_chanukah.append(tmp_chanukah)
    if e == 'Chanukah End':
        tmp_chanukah = 0

In [156]:
df['is_NBA_final'] = is_nba_final
df['is_lent'] = is_lent
df['is_ramadan'] = is_ramadan
df['is_pesach'] = is_pesach
df['is_purim'] = is_purim
df['is_chanukah'] = is_chanukah

In [157]:
df[df['is_chanukah']==1]

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_NBA_final,is_lent,is_ramadan,is_pesach,is_purim,is_chanukah
326,2011-12-21,11147,Wednesday,5,12,2011,d_327,Chanukah Start,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
327,2011-12-22,11147,Thursday,6,12,2011,d_328,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
328,2011-12-23,11147,Friday,7,12,2011,d_329,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
329,2011-12-24,11148,Saturday,1,12,2011,d_330,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
330,2011-12-25,11148,Sunday,2,12,2011,d_331,Christmas,National,NaN,NaN,0,0,0,0,1,0,0,0,1
331,2011-12-26,11148,Monday,3,12,2011,d_332,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
332,2011-12-27,11148,Tuesday,4,12,2011,d_333,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1
333,2011-12-28,11148,Wednesday,5,12,2011,d_334,Chanukah End,Religious,NaN,NaN,0,0,0,0,1,0,0,0,1
680,2012-12-09,11246,Sunday,2,12,2012,d_681,Chanukah Start,NaN,NaN,NaN,1,1,1,0,0,0,0,0,1
681,2012-12-10,11246,Monday,3,12,2012,d_682,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,1
682,2012-12-11,11246,Tuesday,4,12,2012,d_683,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,1
683,2012-12-12,11246,Wednesday,5,12,2012,d_684,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,1
684,2012-12-13,11246,Thursday,6,12,2012,d_685,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,1
685,2012-12-14,11246,Friday,7,12,2012,d_686,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,0,1
686,2012-12-15,11247,Saturday,1,12,2012,d_687,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,1
687,2012-12-16,11247,Sunday,2,12,2012,d_688,Chanukah End,Religious,NaN,NaN,0,0,0,0,0,0,0,0,1
1034,2013-11-28,11344,Thursday,6,11,2013,d_1035,Chanukah Start,National,NaN,NaN,0,0,0,0,0,0,0,0,1
1035,2013-11-29,11344,Friday,7,11,2013,d_1036,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1036,2013-11-30,11345,Saturday,1,11,2013,d_1037,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1037,2013-12-01,11345,Sunday,2,12,2013,d_1038,NaN,NaN,NaN,NaN,1,1,0,0,0,0,0,0,1
1038,2013-12-02,11345,Monday,3,12,2013,d_1039,NaN,NaN,NaN,NaN,1,0,1,0,0,0,0,0,1
1039,2013-12-03,11345,Tuesday,4,12,2013,d_1040,NaN,NaN,NaN,NaN,1,1,1,0,0,0,0,0,1
1040,2013-12-04,11345,Wednesday,5,12,2013,d_1041,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,1
1041,2013-12-05,11345,Thursday,6,12,2013,d_1042,Chanukah End,Religious,NaN,NaN,1,1,1,0,0,0,0,0,1
1418,2014-12-17,11446,Wednesday,5,12,2014,d_1419,Chanukah Start,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1419,2014-12-18,11446,Thursday,6,12,2014,d_1420,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1420,2014-12-19,11446,Friday,7,12,2014,d_1421,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1421,2014-12-20,11447,Saturday,1,12,2014,d_1422,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1422,2014-12-21,11447,Sunday,2,12,2014,d_1423,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1423,2014-12-22,11447,Monday,3,12,2014,d_1424,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1424,2014-12-23,11447,Tuesday,4,12,2014,d_1425,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
1425,2014-12-24,11447,Wednesday,5,12,2014,d_1426,Chanukah End,Religious,NaN,NaN,0,0,0,0,0,0,0,0,1
1773,2015-12-07,11545,Monday,3,12,2015,d_1774,Chanukah Start,NaN,NaN,NaN,1,1,0,0,0,0,0,0,1
1774,2015-12-08,11545,Tuesday,4,12,2015,d_1775,NaN,NaN,NaN,NaN,1,0,1,0,0,0,0,0,1
1775,2015-12-09,11545,Wednesday,5,12,2015,d_1776,NaN,NaN,NaN,NaN,1,1,1,0,0,0,0,0,1
1776,2015-12-10,11545,Thursday,6,12,2015,d_1777,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,1
1777,2015-12-11,11545,Friday,7,12,2015,d_1778,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,1
1778,2015-12-12,11546,Saturday,1,12,2015,d_1779,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,1
1779,2015-12-13,11546,Sunday,2,12,2015,d_1780,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,1
1780,2015-12-14,11546,Monday,3,12,2015,d_1781,Chanukah End,Religious,NaN,NaN,0,0,1,0,0,0,0,0,1

In [150]:
df.is_lent.value_counts()

0    1384
1     585
Name: is_lent, dtype: int64

In [153]:
df[df.event_name_1=='Chanukah Start']

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_NBA_final,is_lent,is_ramadan,is_pesach,is_purim
326,2011-12-21,11147,Wednesday,5,12,2011,d_327,Chanukah Start,NaN,NaN,NaN,0,0,0,0,1,0,0,0
680,2012-12-09,11246,Sunday,2,12,2012,d_681,Chanukah Start,NaN,NaN,NaN,1,1,1,0,0,0,0,0
1034,2013-11-28,11344,Thursday,6,11,2013,d_1035,Chanukah Start,National,NaN,NaN,0,0,0,0,0,0,0,0
1418,2014-12-17,11446,Wednesday,5,12,2014,d_1419,Chanukah Start,NaN,NaN,NaN,0,0,0,0,0,0,0,0
1773,2015-12-07,11545,Monday,3,12,2015,d_1774,Chanukah Start,NaN,NaN,NaN,1,1,0,0,0,0,0,0

In [152]:
# add chanukah start dates
chanukah_start_dates = ['2011-12-21','2012-12-9','2013-11-28','2014-12-17','2015-12-7','2016-12-25']
for d in chanukah_start_dates:
    df.loc[df['date']==d,'event_name_1'] = 'Chanukah Start'